<header>
  <div class="grid align-items-center">
    <div class="col-12 lg:col-6 xl:col-5">
      <div class="profile text-start">
        <div class="name flex mb-5">
          <img class="mr-3" src="assets/vectors/header/person.svg" alt="">
          <div class="text">
            <span>Welcome back</span>
            <h4 class="m-0">SAM EISSA!</h4>
          </div>
        </div>
        <p class="date-label">Last Login Time:</p>
        <p class="date">3 days ago - Feb 5, 2023</p>
      </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
      <img class="header-image" src="assets/vectors/header/header.svg" alt="">
    </div>
    <div class="col-12 lg:col-6 xl:col-2">
      <div class="box sm:text-center">
        <h5>Subscription Status</h5>
        <img src="assets/vectors/header/c1.svg" alt="">
        <p>2 Months remaining in your subscription</p>
      </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-2">
      <div class="box sm:text-center">
        <h5>Subscription Status</h5>
        <img src="assets/vectors/header/calendar.svg" alt="">
        <p>End Date: January 15, 2024</p>
      </div>
    </div>
  </div>
</header>
